<div class="sidebar" id="sidebar">
  <a href="/home">Home</a>
  <a href="/dashboard">Dashboard</a>
  <% if (role === 'admin') { %><a href="/barang">Barang</a><% } %>
  <a href="/peminjaman">Peminjaman</a>
  <a href="/pengaturan">Pengaturan</a>
  <a href="/logout" class="text-danger">Logout</a>
</div>
