<div class="topbar">
  <div class="menu-toggle" onclick="toggleSidebar()">☰</div>
  <img src="https://faperta.unilak.ac.id/wp-content/uploads/2018/02/LOGO-UNILAK-BARU-1024x990.png" alt="Logo Unilak">
  <div class="title">FASILKOM SI46</div>
</div>
